html {
    font-size: xx-large;
}

#nav:target {
	width: 12ch;
	height: 7em;
	padding: 0.2em;
}

nav > a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

nav > a:first-child {
    padding-top: 0.5em;
}

nav > a:last-child {
    padding-bottom: 0.5em;
}

article {
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 1.2rem;;
    padding-top: 5vw;
    height: auto;
    min-height: 100vh;
    position: absolute;
}

.vertical-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tagline {
    white-space: nowrap;
}

footer {
    color: #fff; 
    bottom: 0;
}